{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'trustpilot_mini' -%}
      <script src="{{ 'trustpilot-product-reviews.js' | asset_url }}" async></script>
      {{ 'trustpilot-product-reviews.css' | asset_url | stylesheet_tag }}

      <div
        class="trustpilot-product-mini break element-spacing-all"
        {{ block.shopify_attributes }}
        style="
          --padding-top: {{ block.settings.padding_top }}px;
          --padding-bottom: {{ block.settings.padding_bottom }}px;
          max-height: 35px;
        "
      >
      <div id="reviews-button" class="trustpilotTooltip">
        <div class="col-12 trustpilot-mini-widget m-0 p-0" style="min-height:25px;"></div>
      </div>
    </div>
  {%- endcase -%}
{%- endfor -%}
