{%- if section.blocks.size > 0 -%}
  <div
    class="section__c-tab spacing spacing-xs color-{{ section.settings.color_scheme }} gradient"
    style="
      --padding-top: {{ section.settings.padding_top }}px;
      --padding-bottom: {{ section.settings.padding_bottom }}px;
      --padding-top-xs: {{ section.settings.padding_top_mobile }}px;
      --padding-bottom-xs: {{ section.settings.padding_bottom_mobile }}px;
    "
  >
    <custom-tab
      class="{{ section.settings.section_width }} m-auto d-block"
      {% if section.settings.section_width == 'customized-width' %}
        style="--page-width: {{ section.settings.customize_width }}px;"
      {% endif %}
    >
      <ul
        class="custom__tab-item custom__tab-list d-none j-c-center a-i-center list-unstyled{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        role="list"
      >
        {%- for block in section.blocks -%}
          {%- if request.page_type == 'product' -%}
            {%- if block.settings.content_type == 'dimensions' -%}
              <li
                class="custom__tab-list-item{% if forloop.first == true %} active{% endif %}"
                {{ block.shopify_attributes }}
                role="listitem"
              >
                <button
                  class="t-button bg-transparent color-foreground b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between u-none left"
                  type="button"
                  aria-haspopup="dialog"
                  aria-label="{{ block.settings.heading | escape }}"
                  data-tabs-title
                  data-tab="#Custom-tab-{{ block.id }}"
                >
                  <h2>{{ block.settings.heading | escape }}</h2>
                </button>
                {%- if block.settings.page != blank and block.settings.page.url != blank -%}
                  <a
                    href="{{ block.settings.page.url }}"
                    class="product-drawer__link link t-button b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between left u-none no-js"
                  >
                    {{ block.settings.heading | escape }}
                  </a>
                {%- endif -%}
              </li>
            {%- elsif block.settings.content_type == 'features' -%}
              <li
                class="custom__tab-list-item{% if forloop.first == true %} active{% endif %}"
                {{ block.shopify_attributes }}
                role="listitem"
              >
                <button
                  class="t-button bg-transparent color-foreground b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between u-none left"
                  type="button"
                  aria-haspopup="dialog"
                  aria-label="{{ block.settings.heading | escape }}"
                  data-tabs-title
                  data-tab="#Custom-tab-{{ block.id }}"
                >
                  <h2>{{ block.settings.heading | escape }}</h2>
                </button>
                {%- if block.settings.page != blank and block.settings.page.url != blank -%}
                  <a
                    href="{{ block.settings.page.url }}"
                    class="product-drawer__link link t-button b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between left u-none no-js"
                  >
                    {{ block.settings.heading | escape }}
                  </a>
                {%- endif -%}
              </li>
            {%- else -%}
              <li
                class="custom__tab-list-item{% if forloop.first == true %} active{% endif %}"
                {{ block.shopify_attributes }}
                role="listitem"
              >
                <button
                  class="t-button bg-transparent color-foreground b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between u-none left"
                  type="button"
                  aria-haspopup="dialog"
                  aria-label="{{ block.settings.heading | escape }}"
                  data-tabs-title
                  data-tab="#Custom-tab-{{ block.id }}"
                >
                  <h2>{{ block.settings.heading | escape }}</h2>
                </button>
                {%- if block.settings.page != blank and block.settings.page.url != blank -%}
                  <a
                    href="{{ block.settings.page.url }}"
                    class="product-drawer__link link t-button b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between left u-none no-js"
                  >
                    {{ block.settings.heading | escape }}
                  </a>
                {%- endif -%}
              </li>
            {%- endif -%}
          {%- else -%}
            {%- if block.settings.content_type != 'description' -%}
              <li
                class="custom__tab-list-item{% if forloop.first == true %} active{% endif %}"
                {{ block.shopify_attributes }}
                role="listitem"
              >
                <button
                  class="t-button bg-transparent color-foreground b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between u-none left"
                  type="button"
                  aria-haspopup="dialog"
                  aria-label="{{ block.settings.heading | escape }}"
                  data-tabs-title
                  data-tab="#Custom-tab-{{ block.id }}"
                >
                  <h2>{{ block.settings.heading | escape }}</h2>
                </button>
                {%- if block.settings.page != blank and block.settings.page.url != blank -%}
                  <a
                    href="{{ block.settings.page.url }}"
                    class="product-drawer__link link t-button b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between left u-none no-js"
                  >
                    {{ block.settings.heading | escape }}
                  </a>
                {%- endif -%}
              </li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
      <div class="custom__tab-item w-100">
        {%- for block in section.blocks -%}
          {%- if request.page_type == 'product' -%}
            {%- if block.settings.content_type == 'dimensions' -%}
              <div class="custom__tab-content b-bottom-mobile">
                <ul class="custom__tab-mobile d-none list-unstyled" role="list">
                  <li
                    class="custom__tab-list-item icon-effect{% if forloop.first == true %} active{% endif %}"
                    role="listitem"
                    {{ block.shopify_attributes }}
                    data-tab-mobile="#Custom-tab-{{ block.id }}"
                  >
                    <button
                      class="t-button bg-transparent color-foreground b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between u-none left"
                      type="button"
                      aria-haspopup="dialog"
                      aria-label="{{ block.settings.heading | escape }}"
                      data-tabs-title
                      data-tab="#Custom-tab-{{ block.id }}"
                    >
                      {{ block.settings.heading | escape }}
                      <span class="i-plus-effect"> </span>
                    </button>
                    {%- if block.settings.page != blank and block.settings.page.url != blank -%}
                      <a
                        href="{{ block.settings.page.url }}"
                        class="product-drawer__link link t-button b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between left u-none no-js"
                      >
                        {{ block.settings.heading | escape }}
                      </a>
                    {%- endif -%}
                  </li>
                </ul>
                <div
                  class="custom__tab-text o-h{% if forloop.first == true %} active{% endif %}"
                  id="Custom-tab-{{ block.id }}"
                  data-tab-id="Custom-tab-{{ block.id }}"
                >
                  <div
                    class="item item__description spacing spacing-xs"
                    style="
                      --padding-top: {{ block.settings.padding_top }}px;
                      --padding-bottom: {{ block.settings.padding_bottom }}px;
                      --padding-top-xs: {{ block.settings.padding_top_mobile }}px;
                      --padding-bottom-xs: {{ block.settings.padding_bottom_mobile }}px;
                    "
                  >
                    {%- if block.settings.content_type == 'description' -%}
                      {{ product.description }}
                    {%- elsif block.settings.content_type == 'page' -%}
                      {{ block.settings.page.content }}
                    {%- else -%}
                      <div class="row">
                        {%- if product.metafields.custom.dimension_image_file == blank -%}
                          <div class="col-12">
                            {%- if product.metafields.Dimensions.Length1 -%}
                              <p>
                                <span>Length:</span>
                                <span>{{- product.metafields.Dimensions.Length1 | replace: '.0', '' }}cm</span>
                              </p>
                            {%- endif -%}
                            {%- if product.metafields.Dimensions.Length2 -%}
                              <p>
                                <span>Length 2:</span>
                                <span>{{- product.metafields.Dimensions.Length2 | replace: '.0', '' }}cm</span>
                              </p>
                            {%- endif -%}
                            {%- if product.metafields.Dimensions.Length3 -%}
                              <p>
                                <span>Length 3:</span>
                                <span>{{- product.metafields.Dimensions.Length3 | replace: '.0', '' }}cm</span>
                              </p>
                            {%- endif -%}
                            {%- if product.metafields.Dimensions.Depth -%}
                              <p>
                                <span>Depth:</span>
                                <span>{{- product.metafields.Dimensions.Depth | replace: '.0', '' }}cm</span>
                              </p>
                            {%- endif -%}
                            {%- if product.metafields.Dimensions.Height -%}
                              <p>
                                <span>Height:</span>
                                <span>{{- product.metafields.Dimensions.Height | replace: '.0', '' }}cm</span>
                              </p>
                            {%- endif -%}
                            {%- if product.metafields.custom.floor_to_base_height_cm -%}
                              <p>
                                <span>Floor to Base Height:</span>
                                <span>
                                  {{- product.metafields.custom.floor_to_base_height_cm | replace: '.0', '' }}cm</span
                                >
                              </p>
                            {%- endif -%}
                            {%- if product.metafields.Dimensions.FloortoSeatHeight -%}
                              <p>
                                <span>Floor to Seat Height:</span>
                                <span>
                                  {{- product.metafields.Dimensions.FloortoSeatHeight | replace: '.0', '' }}cm</span
                                >
                              </p>
                            {%- endif -%}
                            {%- if product.metafields.Dimensions.FloortoArmrestHeight -%}
                              <p>
                                <span>Floor to Armrest Height:</span>
                                <span>
                                  {{- product.metafields.Dimensions.FloortoArmrestHeight | replace: '.0', '' }}cm</span
                                >
                              </p>
                            {%- endif -%}
                            {%- if product.metafields.custom.back_rest_height_cm -%}
                              <p>
                                <span>Back Rest Height:</span>
                                <span>{{- product.metafields.custom.back_rest_height_cm | replace: '.0', '' }}cm</span>
                              </p>
                            {%- endif -%}
                            {%- if product.metafields.Dimensions.SeatDepth -%}
                              <p>
                                <span>Seat Depth:</span>
                                <span>{{- product.metafields.Dimensions.SeatDepth | replace: '.0', '' }}cm</span>
                              </p>
                            {%- endif -%}
                            {%- if product.metafields.custom.seat_width_cm -%}
                              <p>
                                <span>Seat Width:</span>
                                <span>{{- product.metafields.custom.seat_width_cm | replace: '.0', '' }}cm</span>
                              </p>
                            {%- endif -%}
                            {%- if product.metafields.custom.arm_rest_width_cm -%}
                              <p>
                                <span>Arm Rest Width:</span>
                                <span>{{- product.metafields.custom.arm_rest_width_cm | replace: '.0', '' }}cm</span>
                              </p>
                            {%- endif -%}
                            {%- if product.metafields.custom.back_rest_width_cm -%}
                              <p>
                                <span>Back Rest Width:</span>
                                <span>{{- product.metafields.custom.back_rest_width_cm | replace: '.0', '' }}cm</span>
                              </p>
                            {%- endif -%}
                            {{ block.settings.content }}
                          </div>
                        {%- else -%}
                          {% comment %} Set dimensions data exists to false {% endcomment %}
                          {%- assign dimensions_data = false -%}

                          {% comment %} Check if dimensions data exists {% endcomment %}
                          {%- if product.metafields.Dimensions.Length1 -%}
                            {%- assign dimensions_data = true -%}
                          {%- endif -%}
                          {%- if product.metafields.Dimensions.Depth -%}
                            {%- assign dimensions_data = true -%}
                          {%- endif -%}
                          {%- if product.metafields.Dimensions.Height -%}
                            {%- assign dimensions_data = true -%}
                          {%- endif -%}
                          {%- if product.metafields.Dimensions.FloortoSeatHeight -%}
                            {%- assign dimensions_data = true -%}
                          {%- endif -%}
                          {%- if product.metafields.Dimensions.BackrestHeight -%}
                            {%- assign dimensions_data = true -%}
                          {%- endif -%}
                          {%- if product.metafields.Dimensions.Length2 -%}
                            {%- assign dimensions_data = true -%}
                          {%- endif -%}

                          <div class="col-12 {% if dimensions_data == true %}col-lg-7{% endif %} center">
                            {{ product.metafields.custom.dimension_image_file | image_url: width: 1000 | image_tag }}
                          </div>
                          <div
                            class="col-12 {% if dimensions_data == true %}col-lg-4{% endif %}"
                            style="align-self: center;"
                          >
                            <ol
                              style="
                                list-style-position: inside;
                                -moz-column-count: 2;
                                -moz-column-gap: 20px;
                                -webkit-column-count: 2;
                                -webkit-column-gap: 20px;
                                column-count: 2;
                                column-gap: 20px;
                              "
                            >
                              {%- if product.metafields.Dimensions.Length1 -%}
                                <li>{{ product.metafields.Dimensions.Length1 | replace: '.0', '' }}cm</li>
                              {%- endif -%}
                              {%- if product.metafields.Dimensions.Depth -%}
                                <li>{{ product.metafields.Dimensions.Depth | replace: '.0', '' }}cm</li>
                              {%- endif -%}
                              {%- if product.metafields.Dimensions.Height -%}
                                <li>{{ product.metafields.Dimensions.Height | replace: '.0', '' }}cm</li>
                              {%- endif -%}
                              {%- if product.metafields.Dimensions.FloortoSeatHeight -%}
                                <li>{{ product.metafields.Dimensions.FloortoSeatHeight | replace: '.0', '' }}cm</li>
                              {%- endif -%}
                              {%- if product.metafields.Dimensions.BackrestHeight -%}
                                <li>{{ product.metafields.Dimensions.BackrestHeight | replace: '.0', '' }}cm</li>
                              {%- endif -%}
                              {%- if product.metafields.Dimensions.Length2 -%}
                                <li>{{ product.metafields.Dimensions.Length2 | replace: '.0', '' }}cm</li>
                              {%- endif -%}
                            </ol>
                            {{ block.settings.content }}
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- elsif block.settings.content_type == 'features' -%}
              <div class="custom__tab-content b-bottom-mobile">
                <ul class="custom__tab-mobile d-none list-unstyled" role="list">
                  <li
                    class="custom__tab-list-item icon-effect{% if forloop.first == true %} active{% endif %}"
                    role="listitem"
                    {{ block.shopify_attributes }}
                    data-tab-mobile="#Custom-tab-{{ block.id }}"
                  >
                    <button
                      class="t-button bg-transparent color-foreground b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between u-none left"
                      type="button"
                      aria-haspopup="dialog"
                      aria-label="{{ block.settings.heading | escape }}"
                      data-tabs-title
                      data-tab="#Custom-tab-{{ block.id }}"
                    >
                      {{ block.settings.heading | escape }}
                      <span class="i-plus-effect"> </span>
                    </button>
                    {%- if block.settings.page != blank and block.settings.page.url != blank -%}
                      <a
                        href="{{ block.settings.page.url }}"
                        class="product-drawer__link link t-button b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between left u-none no-js"
                      >
                        {{ block.settings.heading | escape }}
                      </a>
                    {%- endif -%}
                  </li>
                </ul>
                <div
                  class="custom__tab-text o-h{% if forloop.first == true %} active{% endif %}"
                  id="Custom-tab-{{ block.id }}"
                  data-tab-id="Custom-tab-{{ block.id }}"
                >
                  <div
                    class="item item__description spacing spacing-xs"
                    style="
                      --padding-top: {{ block.settings.padding_top }}px;
                      --padding-bottom: {{ block.settings.padding_bottom }}px;
                      --padding-top-xs: {{ block.settings.padding_top_mobile }}px;
                      --padding-bottom-xs: {{ block.settings.padding_bottom_mobile }}px;
                    "
                  >
                    {%- if block.settings.content_type == 'description' -%}
                      {{ product.description }}
                    {%- elsif block.settings.content_type == 'page' -%}
                      {{ block.settings.page.content }}
                    {%- else -%}
                      <div class="row">
                        <div class="col-12">
                          {%- if product.metafields.custom.features.value -%}
                            <p>
                              <span>{{ product.metafields.custom.features.value }}</span>
                            </p>
                          {%- endif -%}
                          {{ block.settings.content }}
                        </div>
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- else -%}
              <div class="custom__tab-content b-bottom-mobile">
                <ul class="custom__tab-mobile d-none list-unstyled" role="list">
                  <li
                    class="custom__tab-list-item icon-effect{% if forloop.first == true %} active{% endif %}"
                    role="listitem"
                    {{ block.shopify_attributes }}
                    data-tab-mobile="#Custom-tab-{{ block.id }}"
                  >
                    <button
                      class="t-button bg-transparent color-foreground b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between u-none left"
                      type="button"
                      aria-haspopup="dialog"
                      aria-label="{{ block.settings.heading | escape }}"
                      data-tabs-title
                      data-tab="#Custom-tab-{{ block.id }}"
                    >
                      {{ block.settings.heading | escape }}
                      <span class="i-plus-effect"> </span>
                    </button>
                    {%- if block.settings.page != blank and block.settings.page.url != blank -%}
                      <a
                        href="{{ block.settings.page.url }}"
                        class="product-drawer__link link t-button b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between left u-none no-js"
                      >
                        {{ block.settings.heading | escape }}
                      </a>
                    {%- endif -%}
                  </li>
                </ul>
                <div
                  class="custom__tab-text o-h{% if forloop.first == true %} active{% endif %}"
                  id="Custom-tab-{{ block.id }}"
                  data-tab-id="Custom-tab-{{ block.id }}"
                >
                  <div
                    class="item item__description spacing spacing-xs"
                    style="
                      --padding-top: {{ block.settings.padding_top }}px;
                      --padding-bottom: {{ block.settings.padding_bottom }}px;
                      --padding-top-xs: {{ block.settings.padding_top_mobile }}px;
                      --padding-bottom-xs: {{ block.settings.padding_bottom_mobile }}px;
                    "
                  >
                    {%- if block.settings.content_type == 'description' -%}
                      {{ product.description }}
                    {%- elsif block.settings.content_type == 'page' -%}
                      {{ block.settings.page.content }}
                    {%- else -%}
                      {{ block.settings.content }}
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endif -%}
          {%- else -%}
            {%- if block.settings.content_type != 'description' -%}
              <div class="custom__tab-content b-bottom-mobile">
                <ul class="custom__tab-mobile d-none list-unstyled" role="list">
                  <li
                    class="custom__tab-list-item icon-effect{% if forloop.first == true %} active{% endif %}"
                    role="listitem"
                    {{ block.shopify_attributes }}
                    data-tab-mobile="#Custom-tab-{{ block.id }}"
                  >
                    <button
                      class="t-button bg-transparent color-foreground b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between u-none left"
                      type="button"
                      aria-haspopup="dialog"
                      aria-label="{{ block.settings.heading | escape }}"
                      data-tabs-title
                      data-tab="#Custom-tab-{{ block.id }}"
                    >
                      {{ block.settings.heading | escape }}
                      <span class="i-plus-effect"> </span>
                    </button>
                    {%- if block.settings.page != blank and block.settings.page.url != blank -%}
                      <a
                        href="{{ block.settings.page.url }}"
                        class="product-drawer__link link t-button b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between left u-none no-js"
                      >
                        {{ block.settings.heading | escape }}
                      </a>
                    {%- endif -%}
                  </li>
                </ul>
                <div
                  class="custom__tab-text o-h{% if forloop.first == true %} active{% endif %}"
                  id="Custom-tab-{{ block.id }}"
                  data-tab-id="Custom-tab-{{ block.id }}"
                >
                  <div
                    class="item item__description spacing spacing-xs"
                    style="
                      --padding-top: {{ block.settings.padding_top }}px;
                      --padding-bottom: {{ block.settings.padding_bottom }}px;
                      --padding-top-xs: {{ block.settings.padding_top_mobile }}px;
                      --padding-bottom-xs: {{ block.settings.padding_bottom_mobile }}px;
                    "
                  >
                    {%- if block.settings.content_type == 'page' -%}
                      {{ block.settings.page.content }}
                    {%- else -%}
                      {{ block.settings.content }}
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </custom-tab>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.custom-tab.name",
  "class": "section",
  "tag": "section",
  "max_blocks": 5,
  "disabled_on": {
    "groups": ["header", "footer", "custom.popup"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.section_width.options__2"
        },
        {
          "value": "customized-width",
          "label": "t:sections.all.section_width.options__3"
        }
      ],
      "default": "page-width",
      "label": "t:sections.all.section_width.label"
    },
    {
      "type": "range",
      "id": "customize_width",
      "min": 1000,
      "max": 1800,
      "step": 50,
      "default": 1800,
      "unit": "px",
      "label": "t:sections.all.customize_width.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_mobile",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.custom-tab.settings.custom_tab.label",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Custom row",
          "label": "t:sections.all.heading.label",
          "info": "t:sections.all.heading.info__1"
        },
        {
          "type": "select",
          "id": "content_type",
          "label": "t:sections.all.select_content.label",
          "options": [
            {
              "value": "description",
              "label": "t:sections.all.select_content.options__1"
            },
            {
              "value": "page",
              "label": "t:sections.all.select_content.options__3"
            },
            {
              "value": "custom",
              "label": "t:sections.all.select_content.options__2"
            }
          ],
          "default": "custom",
          "info": "t:sections.all.select_content.info"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.all.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.all.content_from_page.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.block_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 61
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 61
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top_mobile",
          "default": 8
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom_mobile",
          "default": 8
        }
      ]
    },
    {
      "type": "dimensions",
      "name": "t:sections.all.icon.options__67",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Dimensions",
          "label": "Selected Content",
          "info": "t:sections.all.heading.info__1"
        },
        {
          "type": "select",
          "id": "content_type",
          "label": "t:sections.all.select_content.label",
          "options": [
            {
              "value": "dimensions",
              "label": "t:sections.all.icon.options__67"
            }
          ],
          "default": "dimensions",
          "info": "t:sections.all.icon.options__67"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.block_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 61
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 61
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top_mobile",
          "default": 8
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom_mobile",
          "default": 8
        }
      ]
    },
    {
      "type": "features",
      "name": "t:sections.custom-tab.blocks.label_1",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Features",
          "label": "Selected Content",
          "info": "t:sections.all.heading.info__1"
        },
        {
          "type": "select",
          "id": "content_type",
          "label": "t:sections.all.select_content.label",
          "options": [
            {
              "value": "features",
              "label": "t:sections.custom-tab.blocks.label_1"
            }
          ],
          "default": "features",
          "info": "t:sections.custom-tab.blocks.label_1"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.block_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 61
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 61
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top_mobile",
          "default": 8
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom_mobile",
          "default": 8
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-tab.presets.name",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
