{%- if section.blocks.size > 0 -%}
  {%- liquid
    capture icon_caret
      render 'icon-caret'
    endcapture
  -%}

  <div
    class="section__c-content spacing spacing-xs color-{{ section.settings.color_scheme }}"
    style="
      --padding-top: {{ section.settings.padding_top }}px;
      --padding-bottom: {{ section.settings.padding_bottom }}px;
      --padding-top-xs: {{ section.settings.padding_top_mobile }}px;
      --padding-bottom-xs: {{ section.settings.padding_bottom_mobile }}px;
    "
  >
    <div
      class="collapsible-content {{ section.settings.section_width }} m-auto"
      {% if section.settings.section_width == 'customized-width' %}
        style="--page-width: {{ section.settings.customize_width }}px;"
      {% endif %}
    >
      {%- unless section.settings.heading == blank -%}
        <div class="p-w__header">
          <div class="p-w__header--wrapper left{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            <h2 id="SectionHeading-{{ section.id }}" class="p-w__heading heading-size-default m-0">
              {{ section.settings.heading | escape }}
            </h2>
          </div>
        </div>
      {%- endunless -%}
      <div class="p-w__content">
        <div
          class="collapsible-content__wrapper grid d-flex f-wrap{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          style="--grid-v-xs: 3rem; --grid-v-md: 3rem;"
        >
          {%- if section.settings.top_subheading != blank
            or section.settings.top_text != blank
            or section.settings.top_heading_1 != blank
            or section.settings.top_heading_2 != blank
          -%}
            <div class="collapsible-content__item collapsible-content__itemLeft w-100 rte">
              <div class="collapsible-content__item--wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {%- if section.settings.top_subheading != blank -%}
                  <h3 class="collapsible-content__subheading m-0">{{ section.settings.top_subheading | escape }}</h3>
                {%- endif -%}
                {%- if section.settings.top_text != blank -%}
                  <div class="collapsible-content__text m-t" style="--m-t: 1.2rem;">
                    {{ section.settings.top_text }}
                  </div>
                {%- endif -%}
                {%- if section.settings.top_heading_1 != blank or section.settings.top_heading_2 != blank -%}
                  <div class="collapsible-content__group d-flex a-i-center j-c-center w-100 m-w" style="--m-w: 29rem;">
                    {%- if section.settings.top_heading_1 != blank -%}
                      <div
                        class="collapsible-content__group--item d-flex f-column j-c-center a-i-center w-100 m-auto center r-gap"
                        style="--r-gap: 0.5rem;"
                      >
                        {{ section.settings.top_heading_1 }}
                      </div>
                    {%- endif -%}
                    {%- if section.settings.top_heading_2 != blank -%}
                      <div
                        class="collapsible-content__group--item d-flex f-column j-c-center a-i-center w-100 m-auto center r-gap"
                        style="--r-gap: 0.5rem;"
                      >
                        {{ section.settings.top_heading_2 }}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
          <div class="collapsible-content__item collapsible-content__itemRight w-100" style="padding:15px;">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'drawer' -%}
                  <div
                    class="element-spacing-all{{ block.settings.show_quantity_selector }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                    {{ block.shopify_attributes }}
                    {% if settings.animations_reveal_on_scroll %}
                      style="
                        --animation-order: {{ forloop.index }};
                        --padding-top: {{ block.settings.padding_top }}px;
                        --padding-bottom: {{ block.settings.padding_bottom }}px;
                        margin-top:10px !important;
                      "
                    {% else %}
                      style="
                        --padding-top: {{ block.settings.padding_top }}px;
                        --padding-bottom: {{ block.settings.padding_bottom }}px;
                        margin-top:10px !important;
                      "
                    {% endif %}
                  >
                    {% comment %} Drawer Openers {% endcomment %}
                    {%- if block.settings.heading != blank -%}
                      <side-drawer-opener
                        class="d-block product-drawer__opener no-js-hidden"
                        data-side-drawer="#Drawer-{{ block.id }}"
                        {{ block.shopify_attributes }}
                        style="min-height:58px;"
                      >
                        <button
                          class="
                            t-button bg-transparent color-foreground b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between u-none left {% if section.settings.font == 'Anaktoria' %}
                              Anaktoria
                            {% elsif section.settings.font == 'Garamond' %}
                              Garamond
                            {% elsif section.settings.font == 'Gotham' %}
                              Gotham
                            {% endif %}
                          "
                          type="button"
                          aria-haspopup="dialog"
                          aria-label="{{ block.settings.heading | escape }}"
                        >
                          {{ block.settings.heading | escape }}

                          {%- if section.settings.use_icon_caret == true -%}
                            {{ icon_caret }}
                          {%- endif -%}
                        </button>
                      </side-drawer-opener>

                      {%- if forloop.last == false -%}
                        <hr
                          style="
                            margin: 0px auto 0px auto;
                            width: 98%;
                          "
                        >
                      {%- endif -%}

                      {%- if block.settings.page != blank and block.settings.page.url != blank -%}
                        <a
                          href="{{ block.settings.page.url }}"
                          class="product-drawer__link link t-button b-none c-pointer focus-inset d-flex w-100 a-i-center j-c-between left u-none b-bottom no-js{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                          style="border:none !important;"
                        >
                          {{ block.settings.heading | escape }}
                        </a>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>

  {%- liquid
    assign drawers = section.blocks | where: 'type', 'drawer'
  -%}

  {%- for block in drawers -%}
    {% if block.settings.heading != blank %}
      <side-drawer
        class="product__drawer drawer pos-fixed top-0 left-0 z-index-8 w-100v h-100 d-flex j-c-end no-js-hidden"
        id="Drawer-{{ block.id }}"
      >
        <div class="side-drawer">
          <div
            id="Drawer-Overlay-{{ block.id }}"
            class="drawer__overlay pos-fixed top-0 left-0 right-0 bottom-0 c-pointer"
          ></div>
          <div
            class="drawer__inner gradient d-flex f-column overflow-y overflow-x-h h-100"
            role="dialog"
            aria-modal="true"
            aria-label="{{ block.settings.heading | escape }}"
            tabindex="-1"
          >
            <div class="drawer__header d-flex j-c-between a-i-center">
              <h2 class="drawer__heading break m-0">{{ block.settings.heading | escape }}</h2>
              <button
                class="drawer__close d-block t-button b-none b-circle c-pointer button--close"
                type="button"
                onclick="this.closest('side-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="i__close e-none d-block pos-relative color-current w-100 h-100"></span>
              </button>
            </div>
            <div class="drawer__wrapper">
              <div class="drawer__wrapper-details">
                {%- if block.settings.content_type == 'dimensions' -%}
                  <div class="row">
                    {%- if product.metafields.custom.dimension_image_file == blank -%}
                      <div class="col-12">
                        {%- if product.metafields.Dimensions.Height -%}
                          <p>
                            Height: <span>{{ product.metafields.Dimensions.Height | replace: '.0', '' }}cm</span>
                          </p>
                        {%- endif -%}
                        {%- if product.metafields.Dimensions.Length1 -%}
                          <p>
                            Width: <span>{{ product.metafields.Dimensions.Length1 | replace: '.0', '' }}cm</span>
                          </p>
                        {%- endif -%}
                        {%- if product.metafields.Dimensions.Depth -%}
                          <p>
                            Depth: <span>{{ product.metafields.Dimensions.Depth | replace: '.0', '' }}cm</span>
                          </p>
                        {%- endif -%}
                        {%- if product.metafields.Dimensions.FloortoArmrestHeight -%}
                          <p>
                            Floor to Armrest Height: <span>{{ product.metafields.Dimensions.FloortoArmrestHeight | replace: '.0', '' }}cm</span>
                          </p>
                        {%- endif -%}
                        {%- if product.metafields.Dimensions.FloortoSeatHeight -%}
                          <p>
                            Floor to Seat Height:
                            <span>{{ product.metafields.Dimensions.FloortoSeatHeight | replace: '.0', '' }}cm</span>
                          </p>
                        {%- endif -%}
                        {%- if product.metafields.Dimensions.SeatDepth -%}
                          <p>
                            Seat Depth:
                            <span>{{ product.metafields.Dimensions.SeatDepth | replace: '.0', '' }}cm</span>
                          </p>
                        {%- endif -%}
                        {{ block.settings.content }}
                      </div>
                    {%- else -%}
                      {% comment %} Set dimensions data exists to false {% endcomment %}
                      {%- assign dimensions_data = false -%}

                      {% comment %} Check if dimensions data exists {% endcomment %}
                      {%- if product.metafields.Dimensions.Length1 -%}
                        {%- assign dimensions_data = true -%}
                      {%- endif -%}
                      {%- if product.metafields.Dimensions.Depth -%}
                        {%- assign dimensions_data = true -%}
                      {%- endif -%}
                      {%- if product.metafields.Dimensions.Height -%}
                        {%- assign dimensions_data = true -%}
                      {%- endif -%}
                      {%- if product.metafields.Dimensions.FloortoSeatHeight -%}
                        {%- assign dimensions_data = true -%}
                      {%- endif -%}
                      {%- if product.metafields.Dimensions.BackrestHeight -%}
                        {%- assign dimensions_data = true -%}
                      {%- endif -%}

                      {%- if product.metafields.Dimensions.Length2 -%}
                        {%- assign dimensions_data = true -%}
                      {%- endif -%}

                      <div class="col-12 center">
                        {% assign image_url = product.metafields.custom.dimension_image_file | image_url %}

                        <img
                          class="global-media-settings f-a-none"
                          srcset="
                            {% if image_url %}
                              {{ image_url | image_url: width: 360 }} 360w,
                              {{ image_url | image_url: width: 550 }} 550w,
                              {{ image_url | image_url: width: 750 }} 750w,
                              {{ image_url | image_url: width: 1000 }} 1000w,
                              {{ image_url | image_url: width: 1200 }} 1200w,
                              {{ image_url | image_url: width: 1500 }} 1500w,
                              {{ image_url | image_url: width: 2000 }} 2000w,
                              {{ image_url | image_url: width: 2500 }} 2500w,
                              {{ image_url | image_url: width: 3000 }} 3000w
                            {% endif %}
                          "
                          sizes="(min-width: 1200px) 1000px, (min-width: 750px) 50vw, 100vw"
                          src="{{ image_url | image_url: width: 360 }}"
                          alt="{{ block.settings.heading | escape }}"
                          loading="lazy"
                          width="360"
                          height="148"
                          data-media-id="{{ product.metafields.custom.dimension_image_file.id }}"
                        >
                      </div>

                      <div class="col-12" style="align-self: center;">
                        <ol
                          style="
                            list-style-position: inside;
                            -moz-column-count: 2;
                            -moz-column-gap: 20px;
                            -webkit-column-count: 2;
                            -webkit-column-gap: 20px;
                            column-count: 2;
                            column-gap: 20px;
                          "
                        >
                          {%- if product.metafields.Dimensions.Length1 -%}
                            <li>{{ product.metafields.Dimensions.Length1 | replace: '.0', '' }}cm</li>
                          {%- endif -%}
                          {%- if product.metafields.Dimensions.Depth -%}
                            <li>{{ product.metafields.Dimensions.Depth | replace: '.0', '' }}cm</li>
                          {%- endif -%}
                          {%- if product.metafields.Dimensions.Height -%}
                            <li>{{ product.metafields.Dimensions.Height | replace: '.0', '' }}cm</li>
                          {%- endif -%}
                          {%- if product.metafields.Dimensions.FloortoSeatHeight -%}
                            <li>{{ product.metafields.Dimensions.FloortoSeatHeight | replace: '.0', '' }}cm</li>
                          {%- endif -%}
                          {%- if product.metafields.Dimensions.BackrestHeight -%}
                            <li>{{ product.metafields.Dimensions.BackrestHeight | replace: '.0', '' }}cm</li>
                          {%- endif -%}
                          {%- if product.metafields.Dimensions.Length2 -%}
                            <li>{{ product.metafields.Dimensions.Length2 | replace: '.0', '' }}cm</li>
                          {%- endif -%}
                        </ol>
                        {{ block.settings.content1 }}
                        {{ block.settings.content2 }}
                        {{ block.settings.page.content }}
                      </div>
                    {%- endif -%}
                  </div>

                {%- elsif block.settings.content_type == 'additional_information' -%}
                  <div class="row">
                    <div class="col-12">
                      {%- if product.metafields.custom.features.value -%}
                        <p>
                          <span>{{ product.metafields.custom.features.value }}</span>
                        </p>
                      {%- endif -%}
                      {{ block.settings.content1 }}
                      {{ block.settings.content2 }}
                    </div>
                  </div>
                  {{ block.settings.page.content }}

                {%- elsif block.settings.content_type == 'delivery_and_returns' -%}
                  {{ block.settings.content1 }}
                  {{ block.settings.content2 }}
                  {{ block.settings.page.content }}

                {%- elsif block.settings.content_type == 'care_and_cleaning' -%}
                  {% if product.metafields.Material.PrimaryMaterial == 'Faux Leather' %}
                    {{ block.settings.content1 }}
                  {%- elsif product.metafields.Material.PrimaryMaterial == 'Fabric' -%}
                    {{ block.settings.content2 }}
                  {%- endif -%}
                  {{ block.settings.page.content }}

                {%- elsif block.settings.content_type == 'description' -%}
                  {{ product.description }}
                {%- else -%}
                  {{ block.settings.content1 }}
                  {{ block.settings.content2 }}
                  {{ block.settings.page.content }}
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      </side-drawer>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{% schema %}
{
  "name": "Drawers",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.popup"]
  },
  "settings": [
    {
      "type": "select",
      "id": "font",
      "options": [
        {
          "value": "normal",
          "label": "t:settings_schema.global.settings.font_name.label_3"
        },
        {
          "value": "Anaktoria",
          "label": "t:settings_schema.global.settings.font_name.label"
        },
        {
          "value": "Garamond",
          "label": "t:settings_schema.global.settings.font_name.label_2"
        },
        {
          "value": "Gotham",
          "label": "t:settings_schema.global.settings.font_name.label_4"
        }
      ],
      "default": "normal",
      "label": "t:sections.main-product.blocks.color_swatch.settings.font"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "default": "Drawers"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "full-width",
          "label": "t:sections.all.section_width.options__1"
        },
        {
          "value": "page-width",
          "label": "t:sections.all.section_width.options__2"
        },
        {
          "value": "customized-width",
          "label": "t:sections.all.section_width.options__3"
        }
      ],
      "default": "customized-width",
      "label": "t:sections.all.section_width.label"
    },
    {
      "type": "range",
      "id": "customize_width",
      "min": 1000,
      "max": 1800,
      "step": 50,
      "default": 1400,
      "unit": "px",
      "label": "t:sections.all.customize_width.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 75
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_mobile",
      "default": 15
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_mobile",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "use_icon_caret",
      "label": "Use icon caret",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "drawer",
      "name": "t:sections.main-product.blocks.drawer.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Drawer heading",
          "label": "t:sections.all.heading.label",
          "info": "t:sections.all.heading.info__1"
        },
        {
          "type": "select",
          "id": "content_type",
          "label": "t:sections.all.select_content.label",
          "options": [
            {
              "value": "dimensions",
              "label": "t:sections.all.select_content.options__5"
            },
            {
              "value": "additional_information",
              "label": "t:sections.all.select_content.options__6"
            },
            {
              "value": "delivery_and_returns",
              "label": "t:sections.all.select_content.options__7"
            },
            {
              "value": "care_and_cleaning",
              "label": "t:sections.all.select_content.options__8"
            },
            {
              "value": "description",
              "label": "t:sections.all.select_content.options__1"
            },
            {
              "value": "custom",
              "label": "t:sections.all.select_content.options__2"
            }
          ],
          "default": "custom"
        },
        {
          "type": "richtext",
          "id": "content1",
          "label": "t:sections.all.select_content.options__9"
        },
        {
          "type": "richtext",
          "id": "content2",
          "label": "t:sections.all.select_content.options__10"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.all.content_from_page.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Drawers",
      "blocks": [
        {
          "type": "drawer"
        }
      ]
    }
  ]
}
{% endschema %}
