{% comment %}
  Shopify Section: Step 2 - Sofa Dimensions
  - Separate section for sofa dimension input
  - Works independently or with Step 1 sofa type selection
{% endcomment %}

{{ 'get-estimate.css' | asset_url | stylesheet_tag }}

<section class="section" style="max-width: 1092px; margin: 0 auto">
  <div
    id="get-estimate"
    class="{{ section.settings.section_width }} m-auto"
    {% if section.settings.section_width == 'customized-width' %}
      style="--page-width: {{ section.settings.customize_width }}px;"
    {% endif %}
  >

    <div class="p-sm-5 rounded" style="background-color: #fff;">
      <!-- Step 2: Sofa Dimensions -->
      <div class="section">
        <div class="row options-2">
          <!-- A COLUMN -->
          <div class="col-12 col-md-4 length-field" data-field="a">
            <div class="dimension-image">
              {% if section.settings.dimensions_image_1A != blank %}
                <img
                  src="{{ section.settings.dimensions_image_1A | image_url }}"
                  alt="Dimensions A"
                  style="width:100%;margin-bottom:1rem;"
                  height=""
                  width=""
                  data-type="1"
                >
              {% endif %}

              {% if section.settings.dimensions_image_2_mobile != blank %}
                <img
                  src="{{ section.settings.dimensions_image_2_mobile | image_url }}"
                  alt="Dimensions A"
                  style="width:100%;margin-bottom:1rem;"
                  height=""
                  width=""
                  data-type="2"
                  class="d-block d-md-none"
                >
              {% endif %}
              {% if section.settings.dimensions_image_2A != blank %}
                <img
                  src="{{ section.settings.dimensions_image_2A | image_url }}"
                  alt="Dimensions A"
                  style="width:100%;margin-bottom:1rem;"
                  height=""
                  width=""
                  data-type="2"
                  class="d-none d-md-block"
                >
              {% endif %}

              {% if section.settings.dimensions_image_3_mobile != blank %}
                <img
                  src="{{ section.settings.dimensions_image_3_mobile | image_url }}"
                  alt="Dimensions A"
                  style="width:100%;margin-bottom:1rem;"
                  height=""
                  width=""
                  data-type="3"
                  class="d-block d-md-none"
                >
              {% endif %}
              {% if section.settings.dimensions_image_3A != blank %}
                <img
                  src="{{ section.settings.dimensions_image_3A | image_url }}"
                  alt="Dimensions A"
                  style="width:100%;margin-bottom:1rem;"
                  height=""
                  width=""
                  data-type="3"
                  class="d-none d-md-block"
                >
              {% endif %}
            </div>

            <div class="title first">{{ section.settings.field_a_label }}</div>
            <div class="input-field">
              <input
                id="length-a"
                type="number"
                min="100"
                value="200"
                placeholder="Enter cm"
                onblur="if (this.value < 100) this.value = 100"
              >
              <span class="units">cm</span>
            </div>
          </div>

          <!-- B COLUMN -->
          <div class="col-12 col-md-4 length-field" data-field="b" style="display:none;">
            <div class="dimension-image">
              {% if section.settings.dimensions_image_2B != blank %}
                <img
                  src="{{ section.settings.dimensions_image_2B | image_url }}"
                  alt="Dimensions B"
                  style="width:100%;margin-bottom:1rem;"
                  height=""
                  width=""
                  data-type="2"
                  class="d-none d-md-block"
                >
              {% endif %}
              {% if section.settings.dimensions_image_3B != blank %}
                <img
                  src="{{ section.settings.dimensions_image_3B | image_url }}"
                  alt="Dimensions B"
                  style="width:100%;margin-bottom:1rem;"
                  height=""
                  width=""
                  data-type="3"
                  class="d-none d-md-block"
                >
              {% endif %}
            </div>

            <div class="title">{{ section.settings.field_b_label }}</div>
            <div class="input-field">
              <input
                id="length-b"
                type="number"
                min="100"
                value="100"
                placeholder="Enter cm"
                onblur="if (this.value < 100) this.value = 100"
              >
              <span class="units">cm</span>
            </div>
          </div>

          <!-- C COLUMN -->
          <div class="col-12 col-md-4 length-field" data-field="c" style="display:none;">
            <div class="dimension-image">
              {% if section.settings.dimensions_image_3C != blank %}
                <img
                  src="{{ section.settings.dimensions_image_3C | image_url }}"
                  alt="Dimensions C"
                  style="width:100%;margin-bottom:1rem;"
                  height=""
                  width=""
                  data-type="3"
                  class="d-none d-md-block"
                >
              {% endif %}
            </div>

            <div class="title">{{ section.settings.field_c_label }}</div>
            <div class="input-field">
              <input
                id="length-c"
                type="number"
                min="100"
                value="100"
                placeholder="Enter cm"
                onblur="if (this.value < 100) this.value = 100"
              >
              <span class="units">cm</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ 'get-estimate.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Sofa Dimensions fields",
  "settings": [
    {
      "type": "text",
      "id": "step_number",
      "label": "Step Number",
      "default": "02"
    },
    {
      "type": "text",
      "id": "step_heading",
      "label": "Step Heading",
      "default": "Select Sofa Size"
    },
    {
      "type": "checkbox",
      "id": "show_heading",
      "label": "Show Section Heading",
      "default": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#EDEDED"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "page-width",
          "label": "Page Width"
        },
        {
          "value": "customized-width",
          "label": "Custom Width"
        }
      ],
      "default": "page-width",
      "label": "Section Width"
    },
    {
      "type": "range",
      "id": "customize_width",
      "min": 1000,
      "max": 1800,
      "step": 50,
      "default": 1800,
      "unit": "px",
      "label": "Custom Width (px)"
    },
    {
      "type": "text",
      "id": "field_a_label",
      "label": "Field A Label",
      "default": "Length A"
    },
    {
      "type": "text",
      "id": "field_b_label",
      "label": "Field B Label",
      "default": "Length B"
    },
    {
      "type": "text",
      "id": "field_c_label",
      "label": "Field C Label",
      "default": "Length C"
    },
    { "type": "image_picker", "id": "dimensions_image_1A", "label": "Sofa Dimensions Image 1A" },
    { "type": "image_picker", "id": "dimensions_image_2_mobile", "label": "Sofa Dimensions Image 2 Mobile" },
    { "type": "image_picker", "id": "dimensions_image_2A", "label": "Sofa Dimensions Image 2A" },
    { "type": "image_picker", "id": "dimensions_image_3_mobile", "label": "Sofa Dimensions Image 3 Mobile" },
    { "type": "image_picker", "id": "dimensions_image_3A", "label": "Sofa Dimensions Image 3A" },
    { "type": "image_picker", "id": "dimensions_image_2B", "label": "Sofa Dimensions Image 2B" },
    { "type": "image_picker", "id": "dimensions_image_3B", "label": "Sofa Dimensions Image 3B" },
    { "type": "image_picker", "id": "dimensions_image_3C", "label": "Sofa Dimensions Image 3C" }
  ],
  "presets": [
    {
      "name": "Sofa Dimensions fields"
    }
  ]
}
{% endschema %}
