{%- if section.blocks.size > 0 -%}
  {%- liquid
    capture icon_caret
      render 'icon-caret'
    endcapture
  -%}
  <div
    class="section__c-content d-block spacing spacing-xs color-{{ section.settings.color_scheme }} gradient"
    style="
      --padding-top: {{ section.settings.padding_top }}px;
      --padding-bottom: {{ section.settings.padding_bottom }}px;
      --padding-top-xs: {{ section.settings.padding_top_mobile }}px;
      --padding-bottom-xs: {{ section.settings.padding_bottom_mobile }}px;
    "
  >
    <div class="collapsible-content {{ section.settings.section_width }} m-auto">
      {%- unless section.settings.heading == blank -%}
        <div class="p-w__header">
          <div class="p-w__header--wrapper left{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            <div
              class="element-spacing element-spacing-all"
              data-animate="{{ section.settings.text_animation }}"
              {{ section.shopify_attributes }}
            >
              <div
                style="
                  --margin-left: {{ section.settings.padding_left_right }}px;
                  --margin-right: {{ section.settings.padding_left_right }}px;
                  --margin-left-xs: {{ section.settings.padding_left_right_mobile }}px;
                  --margin-right-xs: {{ section.settings.padding_left_right_mobile }}px;
                "
              >
                <div class="p-w__content">
                  {%- if section.settings.use_hr == true -%}
                    <hr style="margin:0px;">
                    <div
                      style="
                        text-align:center;
                        top:-12px;
                        position: relative;
                        z-index: 2;
                      "
                    >
                      <span
                        {% if section.settings.font == 'Anaktoria' %}
                          class="Anaktoria"
                        {% elsif section.settings.font == 'Garamond' %}
                          class="Garamond"
                        {% elsif section.settings.font == 'Gotham' %}
                          class="Gotham"
                        {% endif %}
                        style="
                          background-color: #fff;
                          padding-left: 30px;
                          padding-right: 30px;
                        "
                      >
                        {{ section.settings.heading | escape }}
                      </span>
                    </div>

                  {%- else -%}
                    <h2 id="SectionHeading-{{ section.id }}" class="p-w__heading heading-size-default m-0">
                      {{ section.settings.heading | escape }}
                    </h2>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      {%- endunless -%}

      <div class="p-w__content">
        <div
          class="collapsible-content__wrapper customized-width grid d-flex f-wrap{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          style="
            --grid-v-xs: 3rem; --grid-v-md: 3rem;{% if section.settings.section_width == 'customized-width' %} --page-width: {{ section.settings.customize_width }}px;{% endif %} margin-left: auto; margin-right: auto;
          "
        >
          {%- if section.settings.top_subheading != blank
            or section.settings.top_text != blank
            or section.settings.top_heading_1 != blank
            or section.settings.top_heading_2 != blank
          -%}
            <div class="collapsible-content__item collapsible-content__itemLeft w-100 rte">
              <div class="collapsible-content__item--wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {%- if section.settings.top_subheading != blank -%}
                  <h3 class="collapsible-content__subheading m-0">{{ section.settings.top_subheading | escape }}</h3>
                {%- endif -%}
                {%- if section.settings.top_text != blank -%}
                  <div class="collapsible-content__text m-t" style="--m-t: 1.2rem;">
                    {{ section.settings.top_text }}
                  </div>
                {%- endif -%}
                {%- if section.settings.top_heading_1 != blank or section.settings.top_heading_2 != blank -%}
                  <div class="collapsible-content__group d-flex a-i-center j-c-center w-100 m-w" style="--m-w: 29rem;">
                    {%- if section.settings.top_heading_1 != blank -%}
                      <div
                        class="collapsible-content__group--item d-flex f-column j-c-center a-i-center w-100 m-auto center r-gap"
                        style="--r-gap: 0.5rem;"
                      >
                        {{ section.settings.top_heading_1 }}
                      </div>
                    {%- endif -%}
                    {%- if section.settings.top_heading_2 != blank -%}
                      <div
                        class="collapsible-content__group--item d-flex f-column j-c-center a-i-center w-100 m-auto center r-gap"
                        style="--r-gap: 0.5rem;"
                      >
                        {{ section.settings.top_heading_2 }}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
          <div class="collapsible-content__item collapsible-content__itemRight w-100">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'collapsible_row' -%}
                  <div
                    class="accordion accordion--style{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {{ block.shopify_attributes }}
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    <details id="Details-{{ block.id }}-{{ section.id }}">
                      <summary
                        id="Summary-{{ block.id }}-{{ section.id }}"
                        class="c-pointer pos-relative l-h-1 d-flex a-i-center trustpilot-accordion"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 799.89 761"
                          width="25"
                          height="24"
                          class="mr-2"
                        >
                          <path d="M799.89 290.83H494.44L400.09 0l-94.64 290.83L0 290.54l247.37 179.92L152.72 761l247.37-179.63L647.16 761l-94.35-290.54z" fill="#00b67a"/><path d="M574.04 536.24l-21.23-65.78-152.72 110.91z" fill="#005128"/>
                        </svg>
                        <h3 class="accordion__title h4 break m-0">
                          {{ block.settings.heading | default: block.settings.page.title }}
                        </h3>
                        {{ icon_caret }}
                      </summary>
                      <div
                        class="accordion__content rte"
                        id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
                        role="region"
                        aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
                      >
                        <div>Showing our 4 & 5 star reviews</div>
                        <div id="reviews" class="mb-3"></div>
                        <a href="https://uk.trustpilot.com/review/honeypotfurniture.co.uk" target="_blank">Read more on Trustpilot</a>
                      </div>
                    </details>
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Reviews Collapsible",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.popup"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "default": "Collapsible content"
    },
    {
      "type": "checkbox",
      "id": "use_hr",
      "label": "Use HR Separator"
    },
    {
      "type": "select",
      "id": "font",
      "options": [
        {
          "value": "normal",
          "label": "t:settings_schema.global.settings.font_name.label_3"
        },
        {
          "value": "Anaktoria",
          "label": "t:settings_schema.global.settings.font_name.label"
        },
        {
          "value": "Garamond",
          "label": "t:settings_schema.global.settings.font_name.label_2"
        },
        {
          "value": "Gotham",
          "label": "t:settings_schema.global.settings.font_name.label_4"
        }
      ],
      "default": "normal",
      "label": "t:sections.main-product.blocks.color_swatch.settings.font"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "full-width",
          "label": "t:sections.all.section_width.options__1"
        },
        {
          "value": "page-width",
          "label": "t:sections.all.section_width.options__2"
        },
        {
          "value": "customized-width",
          "label": "t:sections.all.section_width.options__3"
        }
      ],
      "default": "customized-width",
      "label": "t:sections.all.section_width.label"
    },
    {
      "type": "range",
      "id": "customize_width",
      "min": 1000,
      "max": 1800,
      "step": 50,
      "default": 1400,
      "unit": "px",
      "label": "t:sections.all.customize_width.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 15
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_mobile",
      "default": 35
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_mobile",
      "default": 15
    },
    {
      "type": "range",
      "id": "padding_left_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Side margin",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_left_right_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Side margin on mobile",
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "collapsible_row",
      "name": "t:sections.collapsible_content.blocks.collapsible_row.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "label": "t:sections.all.heading.label",
          "info": "t:sections.all.heading.info__1"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top_mobile",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom_mobile",
          "default": 0
        },
        {
          "type": "image_picker",
          "id": "user_image",
          "label": "User Image"
        },
        {
          "type": "image_picker",
          "id": "staff_image",
          "label": "Staff Image"
        },
        {
          "type": "text",
          "id": "primary_button_label",
          "default": "Rating Breakdown",
          "label": "t:sections.all.primary_button_label.label"
        },
        {
          "type": "color_scheme",
          "id": "primary_button_color_scheme",
          "label": "t:sections.all.primary_button_color_scheme.label",
          "default": "background-1"
        },
        {
          "type": "text",
          "id": "secondary_button_label",
          "default": "Hide Breakdown",
          "label": "t:sections.all.secondary_button_label.label"
        },
        {
          "type": "color_scheme",
          "id": "secondary_button_color_scheme",
          "label": "t:sections.all.secondary_button_color_scheme.label",
          "default": "background-1"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.collapsible_content.blocks.caption.name",
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.all.caption.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.block_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 10
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Reviews Collapsible",
      "blocks": [
        {
          "type": "collapsible_row"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
  var primary_button_label = '{{ section.blocks[0].settings.primary_button_label }}';
  var secondary_button_label = '{{ section.blocks[0].settings.secondary_button_label }}';
  var primary_button_color_scheme = '{{ section.blocks[0].settings.primary_button_color_scheme }}';
  var secondary_button_color_scheme = '{{ section.blocks[0].settings.secondary_button_color_scheme }}';
  var button_style = '{{ settings.button_style }}';
</script>
